@font-face {
  font-family: KidsFonts;
  src: url(../../font/Smart\ Kids.ttf);
}
body {
  background-image: url("../../fotos/bg.jpeg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #7bc5e8;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  font-family: KidsFonts;
}
.textContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  font-size: 80px;
  font-weight: bold;
  animation: bounce 1.5s infinite;
  color: #222;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.linkContainer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkButton {
  background-color: #b815a0;
  border: solid #f501ac 6px;
  border-radius: 50px;
  padding: 25px 55px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-size: xx-large;
  position: relative;
  transition: all 1s ease;
  transform: scale(1);
}

.link {
  font-size: larger;
  font-weight: bold;
  color: #ffd3fe;
  text-decoration: none;
  font-family: KidsFonts;
}

.linkButton:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
.linkButton:hover {
  transform: scale(1.2) perspective(1px);
}
